@import "compass/css3";
@import "scss/_var";
@import "scss/_mixins";
@import "scss/_bootstrap-mods";

body{
	font-family: $p-font;
	margin-top: 1em;
	color: $text-color;
	background: $turquesa;
	@include background-image(url(../img/diag-pattern.png), linear-gradient(darken($turquesa, 10%), $turquesa 15%, lighten($turquesa, 15%)));
	height: 100%;
	min-height: 660px;
}

a{
	hover{
		text-decoration: none;
	}
}

h1, h2, h3{
	font-family: $title-font;
}

h2{
	font-size: 2.5em;
}

h3{
	font-size: 1.7em;
}

ul{
	list-style-type: none;
	margin-left: 0;
}

.container{
	background: $blanco;
	@include box-shadow(0 3px 10px transparentize($turquesa, 0.3));
	margin-bottom: 30px;
}

.new-row{
	margin-top: 1em;
	padding-bottom: 1em;
}

.main-header{
	width: 30%;
	background: $naranjo;
	@include orange-gradient();
	margin: 0 auto;
	margin-bottom: 1em;
	@include b-shadow();

	h1{
		text-align: center;
		margin-top: 0;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.logo-int{
		height: 70px;
		background: url(../img/logo-int.png) center center no-repeat;
	}
}

.teacher-info{
	background: $turquesa-dark;
}

.teacher-id{
	background: $naranjo;
	color: lighten($gris-claro, 8%);

	img{
		float: left;
		padding: 0.5em;
		margin-right: 0.6em;
		position: relative;

		&:after{
			@include img-shadow();
			@include content();
		}
	}

	h3{
		margin-top: 0.6em;
		@include text-shadow(0 0.06em 0.06em darken($naranjo, 20%), 0 -0.06em 0.06em darken($naranjo, 25%));

	}
}

.teacher-actions{
	text-align: right;

	@media (max-width: 767px) {
		text-align: left;
	}
}

.content-block{

	h4{
		background: darken($gris-claro, 0);
		margin-top: 0;
		margin-left: 0;
		padding: 1em 0.5em 0.5em 0.5em;
		position: relative;
		@include text-shadow(0 0.1em 0.1em transparentize($blanco, 0.1), 0 -0.1em 0.1em transparentize($blanco, 0.1));

		span{
			color: darken($gris-oscuro, 30%);
			font-weight: 400;
		}
	}

	h2{
		margin-top: 0;
		margin-bottom: 1em;
		padding-bottom: 0.3em;
		border-bottom: $line;
	}
}

.content-container{
	padding: 1em;
}

.form-horizontal{
	div{
		float: left;
		width: 30%;
	}
}

.table-row{
	margin-bottom: 2em;
	padding-top: 2em;
}

.form-buttons{
	padding-top: 0.5em;
	margin-top: 1em;
	text-align: right;
	clear: both
}

.item-pregunta{
	background: $turquesa-dark;
	padding: 0.5em;
	position: relative;

	.pregunta-id{
		background: $gris-claro;
		@include box-shadow(0 1px 2px transparentize($negro, 0.5) inset, 0 -1px 2px transparentize($blanco, 0.1) inset);
		@include border-radius(3px);
		color: $naranjo;
		font-weight: 700;
		font-size: 1.3em;
		padding: 0.5em;
		margin-right: 1em;
		width: 3%;
		text-align: center;
		float: left;
	}

	.pregunta-title{
		width: 80%;
		padding: 0.3em;
		font-size: 1.5em;
		line-height: 1em;
		font-weight: 700;
		float: left;
		position: relative;
		top: 0.2em;
		color: $gris-claro;
		@include text-shadow(0 0.06em 0.06em darken($turquesa, 20%), 0 -0.06em 0.06em darken($turquesa, 25%));
	}

	.form-buttons{
		text-align: right;
		padding-top: 0;
		padding-bottom: 1em;
		padding-right: 0.8em;
	}

	.alternatives{
		margin-top: 1em;
		background: url(../img/paper.jpg);
		clear: both;
		padding: 0 1em 0.5em 0.5em;
		@include border-radius(0.3em);
		@include box-shadow(0 1px 2px transparentize($negro, 0.5) inset);

		h4{
			margin-left: 0;
			padding-left: 0;
			background: none;
		}

		li{
			background: $gris-oscuro;
			margin-bottom: 0.5em;
			padding: 0.3em 0.8em;
			position: relative;
		}

		span{
			font-weight: 700;
			text-transform: uppercase;
			width: 100%;
		}

		input{
			width: 93%;
			margin-top: 0.5em;
		}
	}

	.delete{
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 30px;
	}
}

.delete{
	border: none;
	background: $rojo url(../img/close-white.png) center center no-repeat;
	@include background-size(20px 20px);
	width: 	20px;
	height: 20px;

	&:hover{
		background: $rojo-dark url(../img/close-white.png) center center no-repeat;
		@include background-size(23px 23px);
	}
}

.add{
	border: none;
	position: relative;
	height: 25px;
	padding-left: 10px;
	padding-right: 35px;
	background: $turquesa;
	color: $blanco;
	@include text-shadow(0 1px 1px transparentize($negro, 0.2));

	&:before{
		@include content();
		right: 0;
		width: 25px;
		height: 25px;
		background: $turquesa-dark url(../img/add.png) center center no-repeat;
		@include background-size(17px 17px);
	}

	&:hover{
		background: $turquesa-dark;

		&:before{
			background: darken($turquesa-dark, 5%) url(../img/add.png) center center no-repeat;
			@include background-size(19px 19px);
		}
	}
}

.add-question{
	margin-top: 1em;
}

.quiz-list-item{
	position: relative;
	margin-bottom: 1em;

	.pregunta-header{
	}

	.pregunta-title{
		width: 50%;
	}
}

.quiz-actions{
	float: right;
	text-align: right;
	margin-right: 2em;
	width: 30%;
	padding: 0;
}

	.quiz-name{
		padding: 0.5em;
		margin-bottom: 0;
	}

.students, .feed{
	background: transparentize($gris-oscuro, 0.4);
	padding: 1em;

	h3{
		@include text-shadow(0 0.07em 0.06em $blanco);
	}
}

.students, .feed{
	li{
		height: 21px;
		padding: 0.3em 0 0.3em 0.5em;
		background: darken($gris-claro, 20%);
		position: relative;	
		line-height: 1.4em;	
		border-bottom: 1px solid $blanco;

		&:last-child{
			border-bottom: none;
		}

		&:nth-child(2n+1){
			background: $gris-claro;
		}

		&.student-ok{
			background: $verde;
			color: $blanco;
		}

		&.student-current{
			background: $naranjo;
			color: $blanco;
		}
	}

	.marked{
		&.correct{
			background: $verde;
			color: $blanco;
		}

		&.incorrect{
			background: $rojo;
			color: $blanco;
		}

	}

	span{
		float: right;
		background: $naranjo;
		@include orange-gradient();
		color: $blanco;
		padding: 0.25em 0.3em;
		position: absolute;
		top: 0;
		right:0;
		height: 22px;
	}
}



.feed{

	li{
		padding: 0.3em 0 0.3em 14%;
		position: relative;
	}
	span{
		position: absolute;
		top: -4px;
		float: left;
		left: 0;
		top: 0;
		right: auto;
		margin-right: 10px;
		height: 22px;
	}
}

@import "scss/_home";







