/* line 1, scss/_bootstrap-mods.scss */
.btn-group {
  font-size: 1em;
  padding: 1em; }
  /* line 5, scss/_bootstrap-mods.scss */
  .btn-group .btn {
    font-size: 1.1em;
    margin-right: 0.3em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em; }
    /* line 10, scss/_bootstrap-mods.scss */
    .btn-group .btn:first-child {
      -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
      -ms-border-radius: 0.5em;
      -o-border-radius: 0.5em;
      border-radius: 0.5em; }
    /* line 14, scss/_bootstrap-mods.scss */
    .btn-group .btn:last-child {
      -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
      -ms-border-radius: 0.5em;
      -o-border-radius: 0.5em;
      border-radius: 0.5em;
      margin-right: 0; }

/* line 21, scss/_bootstrap-mods.scss */
.btn {
  padding: 0.5em 1em;
  border: none;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #e6e6e6), color-stop(44.51%, #e6e6e6), color-stop(44.51%, #d6d6d6), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(bottom, #e6e6e6 0%, #e6e6e6 44.51%, #d6d6d6 44.51%, #e6e6e6 100%);
  background-image: -moz-linear-gradient(bottom, #e6e6e6 0%, #e6e6e6 44.51%, #d6d6d6 44.51%, #e6e6e6 100%);
  background-image: -o-linear-gradient(bottom, #e6e6e6 0%, #e6e6e6 44.51%, #d6d6d6 44.51%, #e6e6e6 100%);
  background-image: linear-gradient(bottom, #e6e6e6 0%, #e6e6e6 44.51%, #d6d6d6 44.51%, #e6e6e6 100%);
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em; }
  /* line 28, scss/_bootstrap-mods.scss */
  .btn:hover {
    background: #cccccc; }

/* line 33, scss/_bootstrap-mods.scss */
.btn {
  color: white;
  text-shadow: 0 0.08em 0.06em #bb4621, 0 -0.09em 0.06em #a53e1d;
  background: #db5c34; }
  /* line 38, scss/_bootstrap-mods.scss */
  .btn:hover {
    color: white;
    text-shadow: 0 0.08em 0.06em #642612;
    text-shadow: 0 0.08em 0.06em #642612, 0 -0.09em 0.06em #7a2e16;
    -webkit-box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.4) inset;
    -webkit-box-shadow: 0 0.15em 0.2em rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0.15em 0.2em rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.15em 0.2em rgba(0, 0, 0, 0.2);
    background: #d14e25; }
  /* line 46, scss/_bootstrap-mods.scss */
  .btn:active {
    color: white;
    text-shadow: 0 0.08em 0.06em #642612;
    text-shadow: 0 0.08em 0.06em #642612, 0 -0.09em 0.06em #7a2e16;
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #db5c34), color-stop(44.51%, #cc4c24), color-stop(99.51%, #db5c34), color-stop(100%, #db5c34));
    background-image: -webkit-linear-gradient(bottom, #db5c34 0%, #cc4c24 44.51%, #db5c34 99.51%, #db5c34 100%);
    background-image: -moz-linear-gradient(bottom, #db5c34 0%, #cc4c24 44.51%, #db5c34 99.51%, #db5c34 100%);
    background-image: -o-linear-gradient(bottom, #db5c34 0%, #cc4c24 44.51%, #db5c34 99.51%, #db5c34 100%);
    background-image: linear-gradient(bottom, #db5c34 0%, #cc4c24 44.51%, #db5c34 99.51%, #db5c34 100%);
    -webkit-box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.6) inset;
    -moz-box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.6) inset;
    box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.6) inset;
    background: #d14e25; }

/* line 56, scss/_bootstrap-mods.scss */
.save-button {
  color: white;
  text-shadow: 0 0.08em 0.06em #903619, 0 -0.09em 0.06em #a53e1d; }
  /* line 61, scss/_bootstrap-mods.scss */
  .save-button:hover {
    color: white;
    text-shadow: 0 0.08em 0.06em #642612;
    text-shadow: 0 0.08em 0.06em #642612, 0 -0.09em 0.06em #7a2e16;
    -webkit-box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.4) inset;
    -webkit-box-shadow: 0 0.15em 0.2em rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0.15em 0.2em rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.15em 0.2em rgba(0, 0, 0, 0.2); }
  /* line 68, scss/_bootstrap-mods.scss */
  .save-button:active {
    color: white;
    text-shadow: 0 0.08em 0.06em #642612;
    text-shadow: 0 0.08em 0.06em #642612, 0 -0.09em 0.06em #7a2e16;
    -webkit-box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.6) inset;
    -moz-box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.6) inset;
    box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.6) inset; }

/* line 76, scss/_bootstrap-mods.scss */
.button-delete {
  background: #b82c29; }
  /* line 79, scss/_bootstrap-mods.scss */
  .button-delete:hover {
    background: #ac2320; }

/* line 84, scss/_bootstrap-mods.scss */
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 1.3em;
  line-height: 1em;
  color: #3b3b3b;
  border: 0; }

/* line 95, scss/_bootstrap-mods.scss */
label {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  font-family: "Droid Serif", serif; }

/* line 101, scss/_bootstrap-mods.scss */
.span4 input {
  width: 85%; }

/* line 6, style.scss */
body {
  font-family: "PT Sans", sans-serif;
  margin-top: 1em;
  color: #3b3b3b;
  background: #1b7977;
  background-image: url(../img/diag-pattern.png), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #124f4e), color-stop(15%, #1b7977), color-stop(100%, #29b7b4));
  background-image: url(../img/diag-pattern.png), -webkit-linear-gradient(#124f4e, #1b7977 15%, #29b7b4);
  background-image: url(../img/diag-pattern.png), -moz-linear-gradient(#124f4e, #1b7977 15%, #29b7b4);
  background-image: url(../img/diag-pattern.png), -o-linear-gradient(#124f4e, #1b7977 15%, #29b7b4);
  background-image: url(../img/diag-pattern.png), linear-gradient(#124f4e, #1b7977 15%, #29b7b4);
  height: 100%;
  min-height: 660px; }

/* line 17, style.scss */
a hover {
  text-decoration: none; }

/* line 22, style.scss */
h1, h2, h3 {
  font-family: "Droid Serif", serif; }

/* line 26, style.scss */
h2 {
  font-size: 2.5em; }

/* line 30, style.scss */
h3 {
  font-size: 1.7em; }

/* line 34, style.scss */
ul {
  list-style-type: none;
  margin-left: 0; }

/* line 39, style.scss */
.container {
  background: white;
  -webkit-box-shadow: 0 3px 10px rgba(27, 121, 119, 0.7);
  -moz-box-shadow: 0 3px 10px rgba(27, 121, 119, 0.7);
  box-shadow: 0 3px 10px rgba(27, 121, 119, 0.7);
  margin-bottom: 30px; }

/* line 45, style.scss */
.new-row {
  margin-top: 1em;
  padding-bottom: 1em; }

/* line 50, style.scss */
.main-header {
  width: 30%;
  background: #db5c34;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bb4621), color-stop(30%, #d14e25), color-stop(70%, #db5c34), color-stop(100%, #d95227));
  background-image: -webkit-linear-gradient(#bb4621, #d14e25 30%, #db5c34 70%, #d95227);
  background-image: -moz-linear-gradient(#bb4621, #d14e25 30%, #db5c34 70%, #d95227);
  background-image: -o-linear-gradient(#bb4621, #d14e25 30%, #db5c34 70%, #d95227);
  background-image: linear-gradient(#bb4621, #d14e25 30%, #db5c34 70%, #d95227);
  margin: 0 auto;
  margin-bottom: 1em;
  -webkit-box-shadow: 0 2px 0 white, 0 4px 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 0 white, 0 4px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 0 white, 0 4px 8px rgba(0, 0, 0, 0.4); }
  /* line 58, style.scss */
  .main-header h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0; }
  /* line 65, style.scss */
  .main-header .logo-int {
    height: 70px;
    background: url(../img/logo-int.png) center center no-repeat; }

/* line 71, style.scss */
.teacher-info {
  background: #19706f; }

/* line 75, style.scss */
.teacher-id {
  background: #db5c34;
  color: #fafafa; }
  /* line 79, style.scss */
  .teacher-id img {
    float: left;
    padding: 0.5em;
    margin-right: 0.6em;
    position: relative; }
    /* line 85, style.scss */
    .teacher-id img:after {
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      display: block;
      content: "";
      position: absolute;
      top: 0;
      z-index: 100;
      width: 100%;
      height: 100%; }
  /* line 91, style.scss */
  .teacher-id h3 {
    margin-top: 0.6em;
    text-shadow: 0 0.06em 0.06em #903619, 0 -0.06em 0.06em #7a2e16; }

/* line 98, style.scss */
.teacher-actions {
  text-align: right; }
  @media (max-width: 767px) {
    /* line 98, style.scss */
    .teacher-actions {
      text-align: left; } }

/* line 108, style.scss */
.content-block h4 {
  background: #e6e6e6;
  margin-top: 0;
  margin-left: 0;
  padding: 1em 0.5em 0.5em 0.5em;
  position: relative;
  text-shadow: 0 0.1em 0.1em rgba(255, 255, 255, 0.9), 0 -0.1em 0.1em rgba(255, 255, 255, 0.9); }
  /* line 116, style.scss */
  .content-block h4 span {
    color: gray;
    font-weight: 400; }
/* line 122, style.scss */
.content-block h2 {
  margin-top: 0;
  margin-bottom: 1em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #cccccc; }

/* line 130, style.scss */
.content-container {
  padding: 1em; }

/* line 135, style.scss */
.form-horizontal div {
  float: left;
  width: 30%; }

/* line 141, style.scss */
.table-row {
  margin-bottom: 2em;
  padding-top: 2em; }

/* line 146, style.scss */
.form-buttons {
  padding-top: 0.5em;
  margin-top: 1em;
  text-align: right;
  clear: both; }

/* line 153, style.scss */
.item-pregunta {
  background: #19706f;
  padding: 0.5em;
  position: relative; }
  /* line 158, style.scss */
  .item-pregunta .pregunta-id {
    background: #e6e6e6;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset, 0 -1px 2px rgba(255, 255, 255, 0.9) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset, 0 -1px 2px rgba(255, 255, 255, 0.9) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset, 0 -1px 2px rgba(255, 255, 255, 0.9) inset;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #db5c34;
    font-weight: 700;
    font-size: 1.3em;
    padding: 0.5em;
    margin-right: 1em;
    width: 3%;
    text-align: center;
    float: left; }
  /* line 172, style.scss */
  .item-pregunta .pregunta-title {
    width: 80%;
    padding: 0.3em;
    font-size: 1.5em;
    line-height: 1em;
    font-weight: 700;
    float: left;
    position: relative;
    top: 0.2em;
    color: #e6e6e6;
    text-shadow: 0 0.06em 0.06em #082625, 0 -0.06em 0.06em #041110; }
  /* line 185, style.scss */
  .item-pregunta .form-buttons {
    text-align: right;
    padding-top: 0;
    padding-bottom: 1em;
    padding-right: 0.8em; }
  /* line 192, style.scss */
  .item-pregunta .alternatives {
    margin-top: 1em;
    background: url(../img/paper.jpg);
    clear: both;
    padding: 0 1em 0.5em 0.5em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    border-radius: 0.3em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset; }
    /* line 200, style.scss */
    .item-pregunta .alternatives h4 {
      margin-left: 0;
      padding-left: 0;
      background: none; }
    /* line 206, style.scss */
    .item-pregunta .alternatives li {
      background: #cccccc;
      margin-bottom: 0.5em;
      padding: 0.3em 0.8em;
      position: relative; }
    /* line 213, style.scss */
    .item-pregunta .alternatives span {
      font-weight: 700;
      text-transform: uppercase;
      width: 100%; }
    /* line 219, style.scss */
    .item-pregunta .alternatives input {
      width: 93%;
      margin-top: 0.5em; }
  /* line 225, style.scss */
  .item-pregunta .delete {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30px; }

/* line 234, style.scss */
.delete {
  border: none;
  background: #b82c29 url(../img/close-white.png) center center no-repeat;
  -webkit-background-size: 20px 20px;
  -moz-background-size: 20px 20px;
  -o-background-size: 20px 20px;
  background-size: 20px 20px;
  width: 20px;
  height: 20px; }
  /* line 241, style.scss */
  .delete:hover {
    background: #ac2320 url(../img/close-white.png) center center no-repeat;
    -webkit-background-size: 23px 23px;
    -moz-background-size: 23px 23px;
    -o-background-size: 23px 23px;
    background-size: 23px 23px; }

/* line 247, style.scss */
.add {
  border: none;
  position: relative;
  height: 25px;
  padding-left: 10px;
  padding-right: 35px;
  background: #1b7977;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8); }
  /* line 257, style.scss */
  .add:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    right: 0;
    width: 25px;
    height: 25px;
    background: #19706f url(../img/add.png) center center no-repeat;
    -webkit-background-size: 17px 17px;
    -moz-background-size: 17px 17px;
    -o-background-size: 17px 17px;
    background-size: 17px 17px; }
  /* line 266, style.scss */
  .add:hover {
    background: #19706f; }
    /* line 269, style.scss */
    .add:hover:before {
      background: #155c5a url(../img/add.png) center center no-repeat;
      -webkit-background-size: 19px 19px;
      -moz-background-size: 19px 19px;
      -o-background-size: 19px 19px;
      background-size: 19px 19px; }

/* line 276, style.scss */
.add-question {
  margin-top: 1em; }

/* line 280, style.scss */
.quiz-list-item {
  position: relative;
  margin-bottom: 1em; }
  /* line 287, style.scss */
  .quiz-list-item .pregunta-title {
    width: 50%; }

/* line 292, style.scss */
.quiz-actions {
  float: right;
  text-align: right;
  margin-right: 2em;
  width: 30%;
  padding: 0; }

/* line 300, style.scss */
.quiz-name {
  padding: 0.5em;
  margin-bottom: 0; }

/* line 305, style.scss */
.students, .feed {
  background: rgba(204, 204, 204, 0.6);
  padding: 1em; }
  /* line 309, style.scss */
  .students h3, .feed h3 {
    text-shadow: 0 0.07em 0.06em white; }

/* line 315, style.scss */
.students li, .feed li {
  height: 21px;
  padding: 0.3em 0 0.3em 0.5em;
  background: #b3b3b3;
  position: relative;
  line-height: 1.4em;
  border-bottom: 1px solid white; }
  /* line 323, style.scss */
  .students li:last-child, .feed li:last-child {
    border-bottom: none; }
  /* line 327, style.scss */
  .students li:nth-child(2n+1), .feed li:nth-child(2n+1) {
    background: #e6e6e6; }
  /* line 331, style.scss */
  .students li.student-ok, .feed li.student-ok {
    background: #347e23;
    color: white; }
  /* line 336, style.scss */
  .students li.student-current, .feed li.student-current {
    background: #db5c34;
    color: white; }
/* line 343, style.scss */
.students .marked.correct, .feed .marked.correct {
  background: #347e23;
  color: white; }
/* line 348, style.scss */
.students .marked.incorrect, .feed .marked.incorrect {
  background: #b82c29;
  color: white; }
/* line 355, style.scss */
.students span, .feed span {
  float: right;
  background: #db5c34;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bb4621), color-stop(30%, #d14e25), color-stop(70%, #db5c34), color-stop(100%, #d95227));
  background-image: -webkit-linear-gradient(#bb4621, #d14e25 30%, #db5c34 70%, #d95227);
  background-image: -moz-linear-gradient(#bb4621, #d14e25 30%, #db5c34 70%, #d95227);
  background-image: -o-linear-gradient(#bb4621, #d14e25 30%, #db5c34 70%, #d95227);
  background-image: linear-gradient(#bb4621, #d14e25 30%, #db5c34 70%, #d95227);
  color: white;
  padding: 0.25em 0.3em;
  position: absolute;
  top: 0;
  right: 0;
  height: 22px; }

/* line 372, style.scss */
.feed li {
  padding: 0.3em 0 0.3em 14%;
  position: relative; }
/* line 376, style.scss */
.feed span {
  position: absolute;
  top: -4px;
  float: left;
  left: 0;
  top: 0;
  right: auto;
  margin-right: 10px;
  height: 22px; }

/* line 1, scss/_home.scss */
.home {
  padding-top: 0;
  margin-top: 0; }

/* line 6, scss/_home.scss */
.container {
  background: white url(../img/paper.jpg); }

/* line 10, scss/_home.scss */
.home-header {
  text-align: center;
  background: #db5c34;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bb4621), color-stop(30%, #d14e25), color-stop(70%, #db5c34), color-stop(100%, #d95227));
  background-image: -webkit-linear-gradient(#bb4621, #d14e25 30%, #db5c34 70%, #d95227);
  background-image: -moz-linear-gradient(#bb4621, #d14e25 30%, #db5c34 70%, #d95227);
  background-image: -o-linear-gradient(#bb4621, #d14e25 30%, #db5c34 70%, #d95227);
  background-image: linear-gradient(#bb4621, #d14e25 30%, #db5c34 70%, #d95227);
  padding-top: 0;
  width: 30%;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  -webkit-box-shadow: 0 2px 0 white, 0 4px 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 0 white, 0 4px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 0 white, 0 4px 8px rgba(0, 0, 0, 0.4); }
  /* line 21, scss/_home.scss */
  .home-header h1 {
    background: url(../img/logo-home.png) center center no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    width: 90%;
    height: 200px;
    margin: 0 auto;
    /* Portrait tablet to landscape and desktop */ }
    @media (min-width: 768px) and (max-width: 979px) {
      /* line 21, scss/_home.scss */
      .home-header h1 {
        -webkit-background-size: auto 100%;
        -moz-background-size: auto 100%;
        -o-background-size: auto 100%;
        background-size: auto 100%; } }
    @media (min-width: 1200px) {
      /* line 21, scss/_home.scss */
      .home-header h1 {
        -webkit-background-size: auto 100%;
        -moz-background-size: auto 100%;
        -o-background-size: auto 100%;
        background-size: auto 100%; } }

/* line 39, scss/_home.scss */
.feature {
  position: relative;
  top: -100px;
  height: 300px; }
  /* line 44, scss/_home.scss */
  .feature:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    height: 200px;
    z-index: 50; }
  /* line 51, scss/_home.scss */
  .feature .statement {
    font-family: "Droid Serif", serif;
    font-size: 2.5em;
    padding: 1.3em;
    line-height: 1.2em;
    text-align: left;
    position: relative;
    top: -140%;
    text-align: center;
    z-index: 100;
    text-shadow: 0 0.055em 0 white;
    display: block; }
    @media (min-width: 768px) and (max-width: 979px) {
      /* line 51, scss/_home.scss */
      .feature .statement {
        top: -70%;
        background: rgba(255, 255, 255, 0.5); } }
    @media (max-width: 767px) {
      /* line 51, scss/_home.scss */
      .feature .statement {
        font-size: 2em;
        top: -30%; } }
    @media (max-width: 480px) {
      /* line 51, scss/_home.scss */
      .feature .statement {
        top: -20%; } }
    /* line 79, scss/_home.scss */
    .feature .statement a {
      display: block;
      text-align: center;
      margin: 0 auto;
      color: white;
      text-shadow: 0 0.06em 0.065em #124f4e, 0 -0.08em 0.06em #041110;
      background: #1b7977;
      font-size: 0.8em;
      margin-top: 0.5em;
      width: 50%;
      padding: 0.3em 0.2em;
      -webkit-border-radius: 0.3em;
      -moz-border-radius: 0.3em;
      -ms-border-radius: 0.3em;
      -o-border-radius: 0.3em;
      border-radius: 0.3em; }
      /* line 92, scss/_home.scss */
      .feature .statement a:hover {
        text-decoration: none;
        background: #19706f; }

/* line 101, scss/_home.scss */
.home .span4 {
  position: relative;
  top: -40px; }

/* line 106, scss/_home.scss */
.info-container {
  background: #db5c34;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #db5c34), color-stop(20.51%, #db5c34), color-stop(20.51%, #cc4c24), color-stop(100%, #db5c34));
  background-image: -webkit-linear-gradient(bottom, #db5c34 0%, #db5c34 20.51%, #cc4c24 20.51%, #db5c34 100%);
  background-image: -moz-linear-gradient(bottom, #db5c34 0%, #db5c34 20.51%, #cc4c24 20.51%, #db5c34 100%);
  background-image: -o-linear-gradient(bottom, #db5c34 0%, #db5c34 20.51%, #cc4c24 20.51%, #db5c34 100%);
  background-image: linear-gradient(bottom, #db5c34 0%, #db5c34 20.51%, #cc4c24 20.51%, #db5c34 100%);
  padding: 0.2em 1em; }
  /* line 111, scss/_home.scss */
  .info-container h3 {
    color: #e6e6e6;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 2.2em;
    text-shadow: 0 0.06em 0.06em #bb4621, 0 -0.06em 0.06em #7a2e16; }

/* line 121, scss/_home.scss */
.imgcont-left, .imgcont-center, .imgcont-right {
  text-align: center;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), #e6e6e6);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), #e6e6e6);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0), #e6e6e6);
  background-image: linear-gradient(rgba(255, 255, 255, 0), #e6e6e6); }

/* line 126, scss/_home.scss */
.info-lista-left, .info-lista-center, .info-lista-right {
  padding: 1em;
  background: rgba(230, 230, 230, 0.8) url(../img/paper.png); }
  /* line 130, scss/_home.scss */
  .info-lista-left li, .info-lista-center li, .info-lista-right li {
    font-size: 1.3em;
    line-height: 1.4em; }

/* line 136, scss/_home.scss */
.info-left, .imgcont-left, .info-lista-left {
  margin-left: 2em; }
  @media (max-width: 767px) {
    /* line 136, scss/_home.scss */
    .info-left, .imgcont-left, .info-lista-left {
      margin-left: 0; } }

/* line 144, scss/_home.scss */
.info-center, .imgcont-center, .info-lista-center {
  margin: 0 1em; }
  @media (max-width: 767px) {
    /* line 144, scss/_home.scss */
    .info-center, .imgcont-center, .info-lista-center {
      margin: 0; } }

/* line 152, scss/_home.scss */
.info-right, .imgcont-right, .info-lista-right {
  margin-right: 2em; }
  @media (max-width: 767px) {
    /* line 152, scss/_home.scss */
    .info-right, .imgcont-right, .info-lista-right {
      margin: 0; } }

  
  #quizcake {
	  float:right;
	  margin-right:20px;
  }