.btn-group{
	font-size: 1em;
	padding: 1em;

	.btn{
		font-size: 1.1em;
		margin-right: 0.3em;
		@include border-radius($btn-radius);

		&:first-child{
			@include border-radius($btn-radius);
		}

		&:last-child{
			@include border-radius($btn-radius);
			margin-right: 0;
		}
	}
}

.btn{
	padding: 0.5em 1em;
	border: none;
	text-transform: uppercase;
	@include background-image(linear-gradient(bottom, $gris-claro 0%, $gris-claro 44.51%, darken($gris-claro, 6%) 44.51%, $gris-claro 100%));
	@include border-radius($btn-radius);

	&:hover{
		background: $gris-oscuro;
	}
}

.btn{
	color: $blanco;
	@include text-shadow(0 0.08em 0.06em darken($naranjo, 10%), 0 -0.09em 0.06em darken($naranjo, 15%));
	background: $naranjo;

	&:hover{
		color: $blanco;
		@include text-shadow(0 0.08em 0.06em darken($naranjo, 30%));
		@include text-shadow(0 0.08em 0.06em darken($naranjo, 30%), 0 -0.09em 0.06em darken($naranjo, 25%));
		@include box-shadow(0 0 0.6em transparentize($negro, 0.6) inset);
		@include b-shadow-bottom();
		background: $naranjo-dark;
	}
	&:active{
		color: $blanco;
		@include text-shadow(0 0.08em 0.06em darken($naranjo, 30%));
		@include text-shadow(0 0.08em 0.06em darken($naranjo, 30%), 0 -0.09em 0.06em darken($naranjo, 25%));
		@include background-image(linear-gradient(bottom, $naranjo 0%, darken($naranjo, 6%) 44.51%, $naranjo 99.51%, $naranjo 100%)); // gradient overlay
		@include box-shadow(0 0 0.6em transparentize($negro, 0.4) inset);
		background: $naranjo-dark;
	}
}

.save-button{
	color: $blanco;
	@include text-shadow(0 0.08em 0.06em darken($naranjo, 20%), 0 -0.09em 0.06em darken($naranjo, 15%));


	&:hover{
		color: $blanco;
		@include text-shadow(0 0.08em 0.06em darken($naranjo, 30%));
		@include text-shadow(0 0.08em 0.06em darken($naranjo, 30%), 0 -0.09em 0.06em darken($naranjo, 25%));
		@include box-shadow(0 0 0.6em transparentize($negro, 0.6) inset);
		@include b-shadow-bottom();
	}
	&:active{
		color: $blanco;
		@include text-shadow(0 0.08em 0.06em darken($naranjo, 30%));
		@include text-shadow(0 0.08em 0.06em darken($naranjo, 30%), 0 -0.09em 0.06em darken($naranjo, 25%));
		@include box-shadow(0 0 0.6em transparentize($negro, 0.4) inset);
	}
}

.button-delete{
	background: $rojo;

	&:hover{
		background: $rojo-dark;
	}
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 1.3em;
  line-height: 1em;
  color: $text-color;
  border: 0;
}

label{
	font-size: 1.5em;
	margin-bottom: 0.5em;
	font-family: $title-font;
}

.span4 input{
	width: 85%;
}