.home{
	padding-top: 0;
	margin-top: 0;
}

.container{
	background: $blanco url(../img/paper.jpg);
}

.home-header{
	text-align: center;
	background: $naranjo;
	@include orange-gradient();
	padding-top: 0;
	width: 30%;
	margin: 0 auto;
	position: relative;
	z-index: 100;
	@include b-shadow();

	h1{
		background: url(../img/logo-home.png) center center no-repeat;
		@include background-size(100% auto);
		width: 90%;
		height: 200px;
		margin: 0 auto;

		/* Portrait tablet to landscape and desktop */
		@media (min-width: 768px) and (max-width: 979px) { 
			@include background-size(auto 100%);
		}

		@media (min-width: 1200px) {
			@include background-size(auto 100%);
		}
	}
}

.feature{
	position: relative;
	top: -100px;
	height: 300px;

	&:before{
		@include content();
		@include over-gradient-top();
		height: 200px;
		z-index: 50;
	}

	.statement{
		font-family: $title-font;
		font-size: 2.5em;
		padding: 1.3em;
		line-height: 1.2em;
		text-align: left;
		position: relative;
		top: -140%;
		text-align: center;

		z-index: 100;
		@include text-shadow(0 0.055em 0 transparentize($blanco, 0));
		display: block;

		@media (min-width: 768px) and (max-width: 979px) {
			top: -70%;
			background: transparentize($blanco, 0.5);
		}

		@media (max-width: 767px) {
			font-size: 2em;
			top: -30%;
		}

		@media (max-width: 480px) {
			top: -20%;
		}

		a{
			display: block;
			text-align: center;
			margin: 0 auto;
			color: $blanco;
			@include text-shadow(0 0.06em 0.065em darken($turquesa, 10%), 0 -0.08em 0.06em darken($turquesa, 25%));
			background: $turquesa;
			font-size: 0.8em;
			margin-top: 0.5em;
			width: 50%;
			padding: 0.3em 0.2em;
			@include border-radius(0.3em);

			&:hover{
				text-decoration: none;
				background: $turquesa-dark;
			}
		}

	}
}

.home .span4{
	position: relative;
	top: -40px;
}

.info-container{
	background: $naranjo;
	@include background-image(linear-gradient(bottom, $naranjo 0%, $naranjo 20.51%, darken($naranjo, 6%) 20.51%, $naranjo 100%));
	padding: 0.2em 1em;

	h3{
		color: $gris-claro;
		margin-top: 0;
		margin-bottom: 0;
		text-align: center;
		font-size: 2.2em;
		@include text-shadow(0 0.06em 0.06em darken($naranjo, 10%), 0 -0.06em 0.06em darken($naranjo, 25%))
	}
}

.imgcont-left, .imgcont-center, .imgcont-right{
	text-align: center;
	@include over-gradient-bottom-white();
}

.info-lista-left, .info-lista-center, .info-lista-right{
	padding: 1em;
	background: transparentize($gris-claro, 0.2) url(../img/paper.png);

	li{
		font-size: 1.3em;
		line-height: 1.4em;
	}
}

.info-left, .imgcont-left, .info-lista-left{
	margin-left: 2em;

	@media (max-width: 767px) {
		margin-left: 0;
	}	
}

.info-center, .imgcont-center, .info-lista-center{
	margin: 0 1em;

	@media (max-width: 767px) {
		margin: 0;
	}	
}

.info-right, .imgcont-right, .info-lista-right{
	margin-right: 2em;

	@media (max-width: 767px) {
		margin: 0;
	}	
}








