//gradients
@mixin btn-gradient{
	@include background-image(linear-gradient(darken(#fff, 4%), #fff));
}

@mixin over-gradient-top{
	@include background-image(linear-gradient(transparentize($negro, 0.85), transparentize($negro, 1)));
}

@mixin bevel-gradient-bottom{
	@include background-image(linear-gradient(transparentize($negro, 0.8), transparentize($negro, 1)));
}

@mixin orange-gradient{
	@include background-image(linear-gradient(darken($naranjo, 10%), darken($naranjo, 5%) 30%, $naranjo 70%, darken($naranjo, 3%)));
}

@mixin over-gradient-bottom-white{
	@include background-image(linear-gradient(transparentize($blanco, 1), transparentize($gris-claro, 0)));
}

//shadows
@mixin b-shadow-bottom{
	@include box-shadow(0 0.15em 0.2em $shadow-color);
}

@mixin b-shadow{
	@include box-shadow(0 2px 0 transparentize($blanco, 0), 0 4px 8px transparentize($negro, 0.6));
}

@mixin bouble-shadow{
	@include text-shadow(0 0.055em 0 transparentize($blanco, 0));
}

@mixin img-shadow{
	@include box-shadow(0 1px 3px $shadow-color);
}

//content
@mixin content(){
	display: block;
	content: "";
	position: absolute;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
}