//fonts
$title-font: 'Droid Serif', serif;
$p-font: 'PT Sans', sans-serif;

//colors
$gris-claro: darken(#fff, 10%);
$gris-oscuro: darken($gris-claro, 10%);
$negro: #000;
$blanco: #fff;
$text-color: lighten(#333, 3%);
$shadow-color: transparentize($negro, 0.8);

$naranjo: #db5c34;
$naranjo-dark: darken($naranjo, 5%);
$turquesa: 	adjust-hue(desaturate(#058f7c, 30%), 7%);
$turquesa-dark: darken($turquesa, 2%);

$rojo: desaturate(darken(#d72c28, 6%), 5%);
$rojo-dark: darken(#d72c28, 10%);

$verde: #347e23;

//radius
$btn-radius: 0.5em;

//line
$line: 1px solid $gris-oscuro;